@import "tailwindcss";

:root {
  --color-black: #0a0a0a;
  --color-green: #00ff00;
  --bg-color: #f5f5f5;
  --matrix-green-min: 60;
  --matrix-green-max: 120;
}

.dark {
  --bg-color: #000000;
  --matrix-green-min: 100;
  --matrix-green-max: 255;
}

body {
  min-height: 10vh;
  background-color: var(--color-black);
}
