@import "tailwindcss";

/* Light Theme */
:root {
  /* === Backgrounds === */
  --bg-primary: #f8fafc;
  --bg-secondary: #ffffff;
  --bg-tertiary: #bebfc0;

  /* === Text === */
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-muted: #94a3b8;

  /* === Brand / Accent === */
  --brand-primary: #2563eb;
  --brand-primary-hover: #1d4ed8;
  --brand-soft: #dbeafe;

  /* === Borders === */
  --border-primary: #e2e8f0;
  --border-secondary: #cbd5e1;

  /* === Status (futuro) === */
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
}

body {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

/* Dark Theme */
.dark {
  /* === Backgrounds === */
  --bg-primary: #0b1220;
  --bg-secondary: #111827;
  --bg-tertiary: #1f2937;

  /* === Text === */
  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;

  /* === Brand / Accent === */
  --brand-primary: #3b82f6;
  --brand-primary-hover: #2563eb;
  --brand-soft: #1e3a8a;

  /* === Borders === */
  --border-primary: #1f2937;
  --border-secondary: #334155;

  /* === Status */
  --success: #34d399;
  --warning: #fbbf24;
  --danger: #f87171;
}
